<section class="page-header">

    <div id="logo">
        <img src="D_and_B_Logo_H_CMYK.png" alt="Dots and Bridges Logo">
    </div>

    <h2 class="project-tagline">Connecting Dots and Building Bridges</h2>

    <div id="navmenu">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/media">Media</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
    </div>

</section>

<span id="logo">
    <img src="images/D_and_B_Logo_H_CMYK.png" alt="Dots and Bridges Logo">
</span>
