#navmenu ul 
{
    margin: 0; 
    padding: 0; 
    list-style-type: none; 
    list-style-image: none; 
}

#navmenu li 
{
    display: inline; 
}

#navmenu ul li a 
{
    text-decoration:none;
    margin: 4px;
    padding: 5px 20px 5px 20px;
    color: white;
}

#navmenu ul li a:hover 
{
    color: DarkOrange;
}

.project-tagline
{
    font-style: italic;
}

